<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
    <h2>➕ Add Book</h2>

    <form action="/books-ui/add" method="post">
        <input type="text" name="title" placeholder="Book Title" required>
        <input type="text" name="author" placeholder="Author" required>
        <input type="text" name="category" placeholder="Category" required>
        <input type="number" name="availableCopies" placeholder="Copies" required>

        <button type="submit">Add Book</button>
    </form>

    <a href="/">⬅ Back to Home</a>
</div>

</body>
</html>
